.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #b6ff63, #4caf50);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  pointer-events: none;
  animation: titleEntrance 1s ease-out forwards;
}


@keyframes titleEntrance {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.8);
  }

  60% {
    opacity: 1;
    transform: translateX(-50%) scale(1.1);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}